/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #aaa; color: #fff; text-shadow: none; }
::selection { background: #aaa; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Luke Hagan
   tyle.css
   part of PlainReader by Luke Hagan
   created: 2011-11-03
   released under the MIT license (see LICENSE.md for details)
   ========================================================================== */

/* Iconic by P.J. Onori http://somerandomdude.com/work/iconic/
OFL-licensed: http://scripts.sil.org/OFL */
@font-face {
  font-family: 'IconicStroke';
    src: local('IconicStroke'),
	   url("../fonts/iconic_stroke.otf") format('opentype');
}

#nav, #topbar, .button, .icon {
    font-family: "IconicStroke";
}

body {
    background: #F0EEEC;
    overflow:hidden;
}

ins {
    background: rgba(0, 255, 0, 0.15);
}
    
del {
    background: rgba(255, 0, 0, 0.15);
}

/* responsive image width
http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries */
img {
	max-width: 100%;
	height: auto;
}

#nav a, #stories a, #topbar a, #content header a, #pinboard_popover a, #login_form a {
    /* prevent highlight on touch for UI
    http://blogs.unbolt.net/index.php/brinley/2010/11/25/disabling-highlight-on-touch-in-ios-mobile-safari-web-apps */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#sidebar {
    left:0px;
    width:365px;
    height:100%;
    top:0px;
    bottom: 0px;
    position:fixed;
    border-right: 1px solid #DBDAD8;
    -webkit-box-shadow: 0 0 0 1px #F7F6F5;
}

/* nav bar */
#nav {
  position: fixed;
  width: 45px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #3D3E40;
}

#nav a, #topbar_inner a, #login_form a {
    text-decoration: none;
}

#unreadcount {
    position: relative;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #E8E8E8;
    top: 15px;
}

#floater {
    float: left;
    height: 50%;
    margin-bottom: -40px;
}

#arrows {
    display: block;
    clear: both;
    height: 60px;
    position: relative;
    left: 14px;
    font-family: Helvetica;
    margin-bottom: 20px;
    font-size: 14px;
}

#down_wrapper {
    position: relative;
    -webkit-transform: rotate(180deg);
    left: -31px;
    line-height: 2.5em;
    margin-top: 19px;
}

#nav .button {
    color: #E8E8E8;
	display: block;
}

#mark_all_read_wrapper, #refresh_wrapper {
    margin: 0px;
    padding: 0px;
	font-size: 20px;
} 

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#mark_all_read_wrapper {
    position: absolute;
    bottom: 45px;
    height: 30px;
    width: 30px;
    left: 11px;
}

#mark_all_read:before {
	content: '\2717';
}

#refresh_wrapper {
    position: absolute;
    bottom: 10px;
	left: 12px;
    height: 20px;
    width: 20px;
}

#refresh_wrapper.spinning {
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}

#refresh {
    position: relative;
    left: 1px;
    top: -2px;
}
#refresh:before {
	content:'\e036';
}

#settings_wrapper {
    position: absolute;
    top: 50px;
    height: 30px;
    width: 30px;
    left: 7px;
	font-size: 16px;
	text-align: center;
}
#settings:before {
	content:'\2699';
}

/* stories list */
#stories {
  position: fixed;
  width: 320px;
  height: 100%;
  left: 45px;
  top: 0px;
  /*overflow: auto;*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#stories li, #stories li span  {
    overflow: hidden;
}

/* topbar */
#topbar {
    position:fixed;
    top:0px;
    left:0px;
    height:45px;
    width:100%
}

#topbar_inner {
  position: fixed;
  height: 45px;
  left: 385px;
  right: 0px;
  margin-right: 20px;
  border-bottom: 1px solid #E2E0DF;
}

#topbar .button {
    display: block;
    position: absolute;
    top: 12px;  
    color: #B6B4B3;
	font-size: 18px;
}

#send_to_instapaper {
    right: 115px;
    margin-bottom: -3px
    z-index: 1338;
    border: 0px;
    background-color: transparent;
    overflow: hidden;
    opacity: .5;
}

#open_in_new_window {
    right: 70px;
}
#open_in_new_window:before {
	content: '\e059';
}

#pinboard {
    right: 30px;
}
#pinboard:before {
	content: '\e067';
}

/* content */
#content_wrapper {
    /*overflow: auto;*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    right: 0px;
    left: 365px;
    bottom: 0px;
    top: 45px;
    margin-left: 56px;
}

#content header {
  max-width: 780px;
  margin-top: 25px;
  border-bottom: 1px solid #E2E0DF;
  padding-bottom: 16px;
  margin-right: 56px;
}

#content header a {
    text-decoration: none;
}

#content header h1 {
  font-size: 30px;
  color: #4B4B4B;
  margin-top: 5px;
  margin-bottom: 5px;
}

#content header time, #content header .site, #content header .author {
  color: #A2A2A2;
  font-size: 12px;
  display: block;
  line-height: 1.4em;
}

#content header time {
  left: 0px;
  top: 0px;
}

#content .body_text {
  max-width: 780px;
  color: #4B4B4B;
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.4em;
  margin-right: 56px;
  margin-bottom: 100px;
}

#content .body_text a {
	text-decoration: none;
	border-bottom: 1px solid #CCCCCC;
}

#content .body_text a, #content .body_text a:visited {
	color: #4B4B4B;
}
#content .body_text a:hover {
	color: #666666;
}

#content .body_text #titlebar img, #content .body_text #titlebar .byline_divider {
	display: none;
}
#content .body_text #titlebar h1 {
	font-size: 20px;
	line-height: 1.4em;
}

#detail_drawer {
    position: fixed;
    left: 366px;
	right: 0px;
    bottom: 0px;
    height: 0px;
	background: #3D3E40;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-size: 14px;
	line-height: 1.5em;
    color: #EEEEEE;
}
#detail_drawer .content {
	display: block;
	max-width: 780px;
	margin: 15px;
	margin-left: 56px;
}
#detail_drawer .content a {
	text-decoration: none;
	border-bottom: 1px solid #DDDDDD;
}

#detail_drawer .content a, #detail_drawer .content a:visited {
	color: white;
	border-bottom: 1px solid #999999;
}
#detail_drawer .content a:hover {
	color: #DDDDDD;
}


/* stories list items */
#stories h1 {
  font-size: 14px;
}

#stories ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

#stories li {
  list-style: none;
  height: 140px;
  /*margin-bottom: 25px;*/
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: hidden;
}

#stories .wrap {
  display: block;
  height: 110px;
  margin-top: 15px;
  margin-bottom: 25px;
  overflow-y: hidden;
}

#stories li.selected {
  background: #E4E1DD;
}

#stories a {
  position: relative;
  text-decoration: none;
  color: #9B9B9B;
  display: block;
  height: 110px;
  margin-left: 20px;
}

#stories a .site, #stories a .date {
  position: absolute;
  top: 0px;
  font-size: 12px;
}

#stories a .site {
  left: 0px;
  height: 14px;
  width: 200px;
  overflow: hidden;
}

#stories a .date {
  right: 0px;
}

#stories a .title {
  padding-top: 10px;
  color: #4D4D4D;
  margin-bottom: 0px;
  max-height: 34px;
  overflow: hidden;
}

#stories a .intro {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

#stories a .icon {
  position: absolute;
  top: 21px;
  left: -22px;
  height: 16px;
  width: 16px;
  font-size: 10px;
}
#stories a .icon:before {
	content: '\e02d';
}

#frame {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 300px;
}

#frame iframe {
    border: none;
    background-color: white;
}

/* login form */
#login_form_wrapper {
	position: absolute;
    width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.4);
}

#login_form {
	position: relative;
	width: 565px;
	height: 70px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 150px;
	background-color: #F0EEEC;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#submit {
    /* http://developers.enormego.com/view/enter_return_key_to_submit_forms_in_html5 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

#login_form input  {
    border: none;
    background-color: #ccc;
    -webkit-border-radius: 5px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    -webkit-appearance: none;
    color: #4D4D4D;
    font-size: 18px;
}

#login_form input:hover, #login_form input:focus {
    outline: none;
}

#login_form .cancel, #login_form .logout {
	color: #9B9B9B;
}

#login_form .cancel:hover, #login_form .logout:hover {
	color: #4D4D4D
}

#login_form .cancel {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
	font-size: 10px;
}
#login_form .cancel:before {
	content: '\2713';
}

#login_form .logout {
	position: relative;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right:auto;
	top: 25px;
	font-size: 18px;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	25% {-webkit-transform: translateX(-10px);}
	75% {-webkit-transform: translateX(10px);}
}
#login_form.animate {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 150ms;
	-webkit-animation-iteration-count: 3;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

@media only screen and (max-width: 1000px), only screen and (orientation:portrait) {
	#stories {
		display: none;
	}
	#sidebar {
		width: 45px !important;
	}
	#content_wrapper {
		left: 45px !important;
	}
	#topbar_inner {
		left: 65px !important;
	}
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
